# dependencies
node_modules/

# environment variables
.env
.env.*
zap-shift-server/.env

# firebase secret file
firebase-admin-key.json
zap-shift-server/firebase-admin-key.json

# vercel
.vercel

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# build
dist
build